[Unit]
Description=GitLab Runit supervision process
After=remote-fs.target

[Service]
ExecStart=/opt/gitlab/embedded/bin/runsvdir-start
Restart=always

[Install]
WantedBy=multi-user.target
